mixin container-header
    header.p-24
        .title 作业{{vm.hwId}}

mixin form
    form(ng-submit='vm.Submit()' name='form')
        md-content(layout='row' layout-align='center center' layout-wrap)
            +inputs
            +class-detail
            +buttons

mixin inputs
    md-content.p-12.wrapper-bg(layout='row' layout-align='center center' layout-wrap flex='100')
        div.p-12(layout="row" flex="100" flex-gt-xs="50")
            +input('icon-pencil-box-outline', '作业标题', 'vm.hwObj.title')
        div.p-12(layout="row" flex="100" flex-gt-xs="50")
            +input('icon-link', '作业链接', 'vm.hwObj.description')

mixin input(icon, label, ngModel)
    md-input-container.md-icon-float.md-input-invalid.input-size(flex="100" layout='column')
        md-icon.ng-scope.md-font.material-icons(md-font-icon=icon)
        label=label
        input(type='text' ng-model=ngModel required)

mixin class-detail
    md-content.p-12.wrapper-bg(layout='row' layout-wrap flex='100')
        div.p-12(layout="row" flex="100" flex-gt-xs="50" ng-repeat="class in vm.classes")
            div.white-bg.md-whiteframe-2dp(layout="column" flex="100")
                header.md-accent-bg.ph-24.pv-12
                    span 班级{{class.classId}}
                div.empty(flex='10')
                +datepickers('开始日期', 'class.startTime', 'vm.startHour[$index]', 'vm.startMin[$index]')
                +datepickers('结束日期', 'class.endTime', 'vm.endHour[$index]', 'vm.endMin[$index]')
                +error

mixin datepickers(label, ngModelDay, ngModelHour, ngModelMin)
    div.pv-12.pr-24(flex='40' layout='row')
        md-input-container(flex='50' layout="row")
            label=label
            md-datepicker.datepicker.pr-0(md-placeholder="日期" ng-model=ngModelDay required flex="100")
        md-input-container.hour(flex='25')
            label 时
            md-select(ng-model=ngModelHour)
                md-option(ng-repeat='hour in vm.hours' value='{{hour}}') {{hour}}
        md-input-container(flex='25')
            label 分
            md-select(ng-model=ngModelMin)
                md-option(ng-repeat='min in vm.mins' value='{{min}}') {{min}}

mixin buttons
    md-content.md-padding(layout='row' layout-align='center center' flex="100" md-whiteframe='2')
        md-button.md-raised.md-warn.margin-lf-rt-3(type='submit' ng-disabled='form.$invalid') 提交
        md-button.md-raised.margin-lf-rt-3(ng-click='vm.Reset()') 重置

mixin error
    div.error-message(flex='10') 
        span(ng-if='vm.dateInvalid[$index]') 开始时间不能大于结束时间


//--------------------------  主页面  ----------------------------
page-header(location="发布作业" greeting="vm.user.fullname" month="2")

div#publish-homework-container.wrapper-bg
    +container-header
    +form
